body
{
	margin: 0;
	background: black;
}

p
{
	margin: 0;
	padding: 0;
}

@font-face 
{
    font-family: "Digital Clock Font";
    src: url("../fonts/ds_digital.ttf");
}

select
{
	background: transparent;
	color: rgb(0, 255, 33);
	font-family: "Digital Clock Font";
	outline: none;
	border: none;
	padding: 10%;
}

option
{
	background: black;
	outline: none;
	border: none
}

#clock-time-alarm-text
{
	font-family: "Digital Clock Font";
	font-size: 100%;
	text-align: center;
	color: rgb(0, 255, 33);
}

#bottom-clock-btns
{
	top: 0;
	height: 40vh;
	width: 100%;
	display: block;
}

#actual-button-wrapper, #bottom-lap-window
{
	vertical-align: top;
	width: 45%;
	display: inline-block;
}

#stopwatch-lap-text
{
	color: rgb(0, 255, 33);
	text-align: center;
	font-size: 100%;
	font-family: "Digital Clock Font";
	column-count: 4;
	height: 20vh;
	display: block;
}

#clock-viewport
{
	height: 100vh;
	width: 100%;
	display: block;
	background: black;
}

#clock-timearea
{
	display: block;
	width: 100%;
}

#stopwatch-btns
{
	padding: 0;
	margin: 0;
}

#buttons-below
{
	display: block;
	table-layout: fixed;
	width: 100%;
}

#clock-time-text, #clock-time-text-date, #clock-stopwatch-time
{
	width: 100%;
	font-family: "Digital Clock Font";
	color: rgb(0, 255, 33);
	font-size: 500%;
	margin: 0;
	text-align: center;
}

#clock-time-text
{
	font-size: 2000%;
}

#clock-stopwatch-time
{
	font-size: 400%;
	color: rgb(0, 255, 33);
}

#clock-time-text-date
{
	font-family: "Digital Clock Font";
	font-size: 500%;
}

#clock-h1
{
	margin: 0;
	font-family: Arial;
	text-align: center;
	color: rgb(0, 255, 33);
	font-size: 300%;
}

button
{
	border: none;
	padding: 1%;
	background: transparent;
	font-size: 200%;
	font-family: "Digital Clock Font";
	color: rgb(0, 255, 33);
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

#powerbtn
{
	border: none;
	padding: 1%;
	background: transparent;
	font-size: 200%;
	font-family: "Digital Clock Font";
	color: rgb(63, 64, 66);
}

button:hover
{
	color: rgb(8, 204, 33);
	cursor: pointer;
}

button:focus
{
	outline: none;
}

form
{
	display: inline-block;
}

input
{
	padding: 1%;
	margin: 1%;
	color: rgb(0, 255, 33);
	font-family: "Digital Clock Font";
	font-size: 200%;
	background: black;
	border: 2px solid white;
}

input:focus
{
	outline: none;
}

#alarm-form-inner-container
{
	color: white;
	background: rgba(0, 0, 0, 0.75);
	margin: 0;
	display: none;
}